@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-width: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 5vw;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    font-family: var(--fonte3);
    font-size: 2vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}
section > p{
    padding-bottom: 2em;
}

section.normal{
    color: black;
    background-color: white;
}

section.imagem{
    color: white;
    background-color: purple;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.555);
}

section.imagem > p{
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.374);
    text-shadow: 1px 1px 0px black;
}

section#img1{
    background-image: url("../imagens/background001.jpg");
    background-position: right center;
    background-size: cover;
}

section#img2{
    background-image: url("../imagens/background002.jpg");
    background-size: cover;
}

footer{
    color: white;
    background-color: black;
    font-size: 0.8em;
    text-align: center;
    padding: 6px;
}