@charset "UTF-8";

/* configurações gerais */

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
}

h1{
    color: white;
    text-shadow: 2px 1.5px 3px #9b1a9b;
    padding: 10px;
}